h1 {
    font-family: raleway;
    color: black;
    font-size: 1.2em;
    position: absolute;
    top: 40px;
    left: 50px
}

h2 {
    color: dodgerblue;
    font-size: 1.4em;
    padding: 150px;
    margin: auto;
    font-family: sans-serif;
    font-weight: 400;

}

p {
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-size: .93em;
    color: black;
}