
*{
    box-sizing: border-box;
}

main {
    width: 100%;
}

header {
    background-color: gainsboro;
    padding: 8px;
}
article {
    width: 100%;
}
aside{
    width: 100%;
    background-color: gainsboro;
    padding: 15px;
    margin-top: 7px;
}

h1, h2 {
    text-align: center;
}

nav {
    text-align: center;
    overflow: auto;
}

img {
    max-width: 100%;
}

h3, nav a {
    background-color: gainsboro;
    padding: 8px;
    margin-top: 7px;
    width: 100%;
    display: block;
}
@media screen and (min-width: 620px) {
    aside, nav {
        float: left;
        width: 20%;
    }
    article{
        float: left;
        width: 60%;
        padding: 0 20px;
    }
}
