* {
    box-sizing: border-box;
}

/*uploading font face*/
@font-face {
    font-family: 'HindFont';
    src: url(Hind-Regular.ttf);
}

/*add drop shadow to photos*/
img {
    border: 0px solid grey;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #C8C8C8;
}

/*scales images on hover*/
div.gallery:hover {
    transform: scale(1.1);
}


@supports (display: grid) {
    .warning {
        display: none;
    }
}

body {
    background-size: 100%;
}

/*this sets style for the navigation menu*/
.navbar {
    font-family: HindFont;
    font-size: 18px;
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 50px;
    width: 100%;
    right: 50px;
}

/*this sets style for each link/button on the menu bar*/
.navbar a {
    float: right;
    display: block;
    right: 50px;
    color: grey;
    text-align: center;
    margin-right: 10px;
    padding: 14px 10px;
    text-decoration: none;
}

/*changes link color on hover*/
.navbar a:hover {
    color: black;
}

/*hides hamburger menu on default*/
.navbar .icon {
    display: none;
}

/*sets style for headlines, such as font, color, size, and position*/
h1 {
    font-family: Arial;
    color: black;
    font-size: 1.2em;
    position: absolute;
    top: 50px;
    left: 50px
}

h2 {
    color: dodgerblue;
    font-size: 1.4em;
    padding: 150px;
    line-height: 1.4em;
    margin: auto;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;

}

h5 {
    color: grey;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}


p {
    font-family: H, sans-serif;
    font-style: normal;
    font-size: .93em;
    color: black;
}

/*sets grid for gallery on homepage*/
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-start: 1;
    grid-column-end: 3;
    grid-gap: 0rem;
    max-width: 95vw;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 15%;
    margin-right: 15%;

}

.container1 {
    margin: auto;
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

/*sets font size for footer*/
footer {
    font-size: 15px;
}

@supports (display:grid) {
    .warning {
        display: none;
    }
}

/*sets css style for everything within brackets for a screen with max-width of 600px*/
@media screen and (max-width: 600px) {

    /*same commentation as above*/
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-start: 1;
        grid-column-end: 3;
        grid-gap: 0rem;
        max-width: 95vw;
        margin-top: .5rem;
        margin-bottom: .5rem;
        margin-left: auto;
        margin-right: auto;

    }

    .navbar a {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        right: 0px;

    }

    .navbar {
        right: 0px;

    }

    div.gallery:hover {
        transform: scale(1.1);
    }

    h2 {
        font-size: .9em;
        padding: 150px 0px 40px 0px;
        line-height: 1.5em;
        margin: 20px;
        text-align: center;

    }

    h1 {
        display: none;
        font-family: Arial;
        color: black;
        font-size: 1.2em;
        position: absolute;
        top: 50px;
        left: 50px
    }
}

/*sets style for footer*/
footer {
    color: grey;
    font-size: 1em;
    text-align: center;
}
